*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --text-color: #000000;
    --main-color: #1b3a4c;
    --second-color: #b09156;
    --button-color: #ffee55;
    --bg-color: #ffffff;
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: transparent;
    padding: 23px 15%;
    transition: all .38s ease;
}

.logo img{
    max-width: 100%;
    width: 150px;
    height: auto;
}

.navbar{
    display: flex;
}

.navbar a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 400;
    padding: 5px 10px;
    margin: 2px 25px;
    border-bottom: 2px solid transparent;
    transition: all .38s ease;
}

.navbar a:hover{
    border-bottom: 2px solid var(--second-color);
    color: var(--second-color);
}

.button{
    display: flex;
    align-items: center;
    padding: 10px 22px;
    background: var(--second-color);
    border-radius: 5rem;
}

.button a{
    color: #ffffff;
    text-decoration: none;
}